body {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

body {
    background-color: #ffffff;
    color: #000000;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
}

.input-container {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

label {
    display: inline-block;
    width: 180px;
    margin-right: 10px;
    text-align: center;
}

input[type="text"], select {
    width: 250px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

input[type="checkbox"] {
    margin-left: 0;
}

#location_input_container {
    display: inline-block;
}

button#save {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button#save:hover {
    background-color: #45a049;
}

#error-message {
    color: red;
    display: none;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

#save-message {
    color: greenyellow;
    display: none;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.input-container input[type="checkbox"] {
    margin-right: 5px;
}

#setting:hover{
    background-color: grey;
}
#setting {
    background-color: #ffffff;
    border: #ffffff;
}